@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

.App {
  width: 80%;
  min-height: 60vh;
  margin: 50px auto;
  background: rgba(248, 247, 247, 0.891);
  border-radius: 15px;
  box-shadow: rgb(112, 188, 7) 5px 5px 30px 7px;
  animation: shadow_fone 8s linear infinite;
}

.app_wrapper {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-areas:
    'header header'
    'nav c'
  ;
  grid-template-rows: 80px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-gap: 5px;
}

.app_wrapper_content {
  grid-area: c;
  /* min-height: 60%; */
  height: 80vh;
  overflow-y: scroll;
}

.loading_img {
  display: flex;
  margin: 150px auto;
}