.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
    background: url('./../../images/chat-fone.jpg') center/ cover no-repeat;
    background-attachment: scroll;
    width: 100%;
    min-height: 100%;
    border-bottom-right-radius: 15px;
    position: relative;
}

.dialogs_items {
    padding: 10px;
}

.dialogs_items .active {
    color: rgb(203, 4, 200);
}

.dialog {
    padding: 12px;
    font-size: 30px;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    font-weight: 600;
    text-shadow: rgb(195, 194, 194) 1px 1px 1px;
    color: rgb(196, 112, 9);
}

.dialog a {
    color: rgb(153, 8, 216);
    text-decoration: none;
}

.dialog .active {
    color: gold;
}

.messages {
    padding: 10px;
    max-height: 50vh;
    overflow-y: scroll;
}

.message {
    word-wrap: break-word;
    padding: 15px;
    margin: 5px;
    max-width: 95%;
    border-radius: 15px;
    color: white;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New';
    font-size: 24px;
    background: black;
}

.text__block {
    position: absolute;
    bottom: 3%;
    right: 0%;
    height: 60px;
    width: 80%;
    display: flex;
    align-items: center;
}

.text__block button {
    width: 100px;
    height: 60px;
    margin-left: 20px;
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    font-size: 16px;
    font-weight: 400;
    font-family: 'Permanent Marker';
    background: rgb(26, 90, 138);
    color: white;
    border: transparent;
    box-shadow: white 0px 0px 5px 5px;
    transition: 0.6s;
    text-shadow: black 2px 2px 6px;
}

.text__block button:hover {
    background-color: rgb(161, 214, 26);
}

.addtext {
    font-size: 20px;
    font-weight: 500;
    font-style: italic;

}

.addtext {
    width: 80%;
    margin-left: 10px;
    border-radius: 10px;
    color: white;
    background-color: rgb(0, 0, 0);
    border: transparent;
    box-shadow: white 0px 0px 5px 5px;
    padding: 10px;
}

.redForm {
    border: 3px solid red;
}

.errorInfo {
    position: absolute;
    top: 15%;
    right: 25%;
    font-size: 20px;
    color: red;
}